<form class="d-flex" action="/admin" method="GET">
    <div class="input-group">
        <select name="parameter" id="parameter" class="parameter form-select">
            <option value="username">Username</option>
            <option value="subject_name">Subject</option>
            <option value="ch_name">Chapter</option>
        </select>
    </div>
    <input class="form-control me-3 w-200" type="search" placeholder="users/ suject/ chapter" aria-label="Search"
        name="query">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>