{% extends 'layout.html' %}

{% block title %}
Edit Chapter
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
        <div class="card m-5 p-3">
            <h1 class="d-flex justify-content-center">Edit Chapter</h1>

            <div class="d-flex justify-content-center m-5">
                <form action="" method="post">
                    <div class="form-group">

                        <input type="text" class="form-control m-3" name="name" value="{{ chapter.name }}">

                        <input type="textbox" class="form-control m-3" name="description" placeholder=""
                            value="{{ chapter.description }}">
                        <button class="btn btn-primary btn-m m-3">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Edit Chapter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
</div>

{% endblock %}